<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>Classify Leaf Diseases for Apple, Blueberry, Cherry, Corn, Grape, Orange, Peach, Pepper, Potato, Raspbery,
            Soybean, Squash, Strawberry, & Tomato Plants </div>
        <p>
            Use images of <strong>apple</strong> leaves, <strong>blueberry</strong> leaves, <strong>cherry</strong> leaves, 
                    strong>corn</strong> leaves, <strong>grape</strong> leaves, <strong>orange</strong> leaves, 
                    strong>peach</strong> leaves, <strong>pepper</strong> leaves, <strong>potato</strong> leaves, 
                    strong>raspberry</strong> leaves, <strong>soybean</strong> leaves, <strong>squash</strong> leaves, 
                    strong>strawberry</strong> leaves, or <strong>tomato</strong> leaves.
        </p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
